{% extends "layout.html" %}
{% block content %}
    <h3>About This Site</h3>
    <p>
    In 2019, I started my <i>bat mitzvah</i> studies as an adult learner.
    When the pandemic forced our class to adopt remote learning,
    it was challenging for me not to have the sense of reviewing a shared
    chanting document with my Rabbi.  I started exploring the capabilities
    of Sefaria and came across the highlighting tool option and the ability
    to add mp3 audio clips.  I was eager to share the possibilities with my
    classmates and created an 18 page instruction guide for how to add
    highlighting to text and how to find and insert relevant audio files.
    I'm not sure anyone took the time to wade through 18 pages of
    instructions and even I, in the end, was not motivated to create these
    types of study sheets for myself.  It was simply too much effort.
    <br/><br/>
    When the 2021 Sefaria programming contest was announced, I decided to
    revisit my idea and explore the Sefaria API.  I realized that by using
    the Sefaria API I could help automate the tedious steps in creating a
    Torah chanting source sheet.  In a way, this is my Bat Mitzvah project.
    I hope that future students and others who want to chant Torah will find
    these Torah Chanting Source Sheets helpful in their learning process.
    <i>Yasher Koach!</i>
    <br/><br/>
    Valerie Monaco
    </p>
{% endblock content %}