{% extends "layout.html" %}
{% block content %}
    <h1>SCTSS  |  Create Source Sheet</h1>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.csrf_token }}
            {% if form.csrf_token.errors %}
                <div class="warning">You have submitted an invalid CSRF token</div>
            {% endif %}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}