{% extends "layout.html" %}
{% block content %}
    <h1>SCTSS  |  Create Source Sheet</h1>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.csrf_token }}
            {% if form.csrf_token.errors %}
                <div class="warning">Welcome back... please refresh this page before continuing.</div>
            {% endif %}
            <fieldset class="form-group">
                <div class="form-group">
                    <div>Select Book from Torah:</div>
                    {{ form.Torah_Book_Field }}
                    <br/><br/>
                    <div>Enter chapter:</div>
                    {{ form.chapter }}
                    <br/><br/>
                    <div>Enter starting verse:</div>
                    {{ form.startingVerse }}
                    <br/><br/>
                    <div>Enter ending verse:</div>
                    {{ form.endingVerse }}
                    <br/><br/>
                    {{ recaptcha }} <!-- Refer to 'recaptcha' variable in main.py -->
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}