<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">


        <title>Torah Chanting Source Sheet Generator</title>

    </head>

    <body>
        <header class="site-header">
          <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
              <a class="navbar-brand mr-8" href="/">Torah Chanting Source Sheet Generator</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                  <a class="nav-item nav-link" href="/">Create</a>
                  <a class="nav-item nav-link" href="/about">About</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                  <a class="nav-item nav-link" href="/roadmap">Feature Roadmap</a>
                  <a class="nav-item nav-link" href="/contact">Contact</a>
                </div>
              </div>
            </div>
          </nav>
        </header>

        <main role="main" class="container">
          <div class="row">
            <div class="col-md-8">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                           {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
              {% endwith %}
              {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
              <div class="content-section">
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-light"></li>
                    <li class="list-group-item list-group-item-light">"<i>Talmud Torah kneged kulam</i>" (<a href="https://www.sefaria.org/Mishnah_Peah.1.1?lang=bi">Mishnah Peah 1:1</a>). This teaching is generally understood to mean that the study of Torah is equal to all other mitzvoth combined. The reason this is so is because the study of Torah "leads to action" (<a href="https://www.sefaria.org/Kiddushin.40b.1?lang=bi">Kiddushin 40b</a>)..." -from <a href="https://torahinmotion.org/discussions-and-blogs/yevamot-109-torah-study">Torah in Motion</a></li>
                    <li class="list-group-item list-group-item-light"></li>
                    <li class="list-group-item list-group-item-light">"Chanting evokes the consciousness of using our voices as a link to antiquity, a profound sense of belonging to a historical continuum, a connection to the Divine." -from <i><a href="https://www.chantingthehebrewbible.com/books">Chanting the Hebrew Bible</a></i></li>
                    <li class="list-group-item list-group-item-light"></li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </main>
        <div id="footer">
        {% block footer %}
        <div class="container">
        <a class="nav-item nav-link" href="/privacy_terms">Privacy and Terms of Use</a>
        </div>
        {% endblock %}
        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>


