{% extends "layout.html" %}
{% block content %}
This site does not track or collect any personally identifying information about site visitors.
This site records but does not analyze IP addresses, browsers, and computer operating systems.
This site does not use cookies.
The administrator of TorahChantingHelper.net can see the content of created sheets and when the sheets were created.
Although care has been taken during the creation of TorahChantingHelper.net, there is no guarantee that the provided chanting information is correct.
Please check with knowledgeable individuals before committing the contents of the sheet to memory.
{% endblock content %}